body {
  font-family: 'Arial';
  background-color: #a9d5ef;
}

h1 {
  font-size: 45px;
  margin-left: 100px;
  white-space: pre;
}

.board img {
  border: 1px solid black;
  height: auto;
  width: 100%;
}

h2 {
  font-size: 38px;
  margin-left: 50px;
  text-decoration: underline;
  white-space: pre;
}

h3 {

  font-size: 30px;
  margin-left: 75px;
}

p {
  font-size: 17px;
  margin-left: 100px;
  white-space: pre;
}

  table, tr, td {
  border: 1px solid black;
  margin-left: 100px;
}

td {
  text-align: center;
}

img {
  border: 1px solid black;
}